<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Local CSS File -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    
    {% block title %}
    <title>Authorization Form</title>
    {% endblock %}
</head>

<body>
  <nav class="green accent-4">
    <div class="nav-wrapper">
        <ul id="nav-mobile" class="left hide-on-med-and-down">
          <li><i><b><a href="{{ url_for('auth') }}">spotify-dev-auth</a></b></i></li>
        </ul>
      </div>
  </nav>       
  {% block body %}
  {% endblock %}
   <!-- Compiled and minified JavaScript -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  {% block scripts%}
  {% endblock %}
</body>

</html>